<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jihai.bitfree.dao.NotificationDAO">
    <sql id="BASE_COLUMN">id, title, content, create_time, can_read, user_list, update_time, deleted</sql>
    <update id="updateUserIdListById">
        UPDATE notification
        SET user_list = #{userList}
        WHERE id = #{id}
        AND deleted = 0
    </update>
    <select id="total" resultType="integer">
        SELECT COUNT(*)
        FROM notification
        WHERE deleted = 0
    </select>
    <select id="pageQuery" resultType="com.jihai.bitfree.entity.NotificationDO">
        SELECT <include refid="BASE_COLUMN" />
        FROM notification
        WHERE deleted = 0
        ORDER BY create_time DESC
        LIMIT #{start}, #{size}
    </select>
    <select id="detail" resultType="com.jihai.bitfree.entity.NotificationDO">
        SELECT <include refid="BASE_COLUMN"/>
        FROM notification
        WHERE id = #{id}
        AND deleted = 0
    </select>
    <select id="getAll" resultType="com.jihai.bitfree.entity.NotificationDO">
        SELECT <include refid="BASE_COLUMN"/>
        FROM notification
        WHERE deleted = 0
    </select>
    <select id="getById" resultType="com.jihai.bitfree.entity.NotificationDO">
        SELECT <include refid="BASE_COLUMN"/>
        FROM notification
        WHERE id = #{id}
        AND deleted = 0
    </select>


</mapper>