<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jihai.bitfree.dao.PostDAO">

    <resultMap id="userResultMap" type="com.jihai.bitfree.entity.PostDO">
        <result column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="creator_id" property="creatorId" />
        <result column="topic_id" property="topicId" />
        <result column="last_updater_id" property="lastUpdaterId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="BASE_COLUMN">id, title, content, creator_id, topic_id, last_updater_id, create_time, update_time</sql>

    <select id="count" resultType="int">
        SELECT COUNT(*) FROM post WHERE deleted = 0
    </select>
    <select id="pageQuery" resultType="com.jihai.bitfree.entity.PostDO">
        SELECT <include refid="BASE_COLUMN"/>
        FROM post WHERE deleted = 0 ORDER BY update_time LIMIT page * size, size
    </select>
    <select id="queryByIdList" resultType="com.jihai.bitfree.entity.PostDO">
        SELECT <include refid="BASE_COLUMN"/>
        FROM post WHERE deleted = 0 AND id IN
        <foreach collection="topPostIdList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="getById" resultType="com.jihai.bitfree.entity.PostDO">
        SELECT <include refid="BASE_COLUMN"/>
        FROM user WHERE id = #{id} AND deleted = 0
    </select>
</mapper>