<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jihai.bitfree.dao.QuestionDAO">

    <sql id="BASE_COLUMN">id, content, parent_id, level, remark, deleted, create_time, update_time</sql>
    <delete id="deleteAll">
        DELETE FROM question
    </delete>

    <select id="getAll" resultType="com.jihai.bitfree.entity.QuestionDO">
        SELECT * FROM question WHERE deleted = 0
    </select>


    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO question(`content`,`parent_id`,`level`,`remark`)
        VALUE(#{content}, #{parentId}, #{level}, #{remark})
    </insert>
</mapper>