<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jihai.bitfree.dao.ReplyNoticeDAO">

    <resultMap id="postNoticeResultMap" type="com.jihai.bitfree.entity.ReplyNoticeDO">
        <result column="id" property="id" />
        <result column="post_id" property="postId" />
        <result column="reply_id" property="replyId" />
        <result column="notify_user_id" property="notifyUserId" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="BASE_COLUMN">id, post_id, reply_id, notify_user_id, deleted, create_time, update_time</sql>

    <insert id="insert">
        INSERT INTO reply_notice(`post_id`, `reply_id`, `notify_user_id`)
        VALUE(#{postId}, #{replyId}, #{notifyUserId})
    </insert>
    <update id="updateStatus">
        UPDATE reply_notice SET `status` = 1 WHERE notify_user_id = #{userId} AND deleted = 0
    </update>
    <update id="deleted">
        UPDATE reply_notice
        SET deleted = 1
        WHERE post_id = #{postId}
    </update>
    <update id="deletedByReplyId">
        UPDATE reply_notice
        SET deleted = 1
        WHERE reply_id = #{replyId}
    </update>
    <select id="countReplyCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM reply_notice
        WHERE notify_user_id = #{userId}
        AND `status` = 0
        AND deleted = 0
    </select>
</mapper>