<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jihai.bitfree.dao.TaskBoardDAO">

    <resultMap id="taskBoardResultMap" type="com.jihai.bitfree.entity.TaskBoardDO">
        <result column="id" property="id" />
        <result column="content" property="content" />
        <result column="coins" property="coins" />
        <result column="user_id" property="userId" />
        <result column="level" property="level" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="remark" property="remark" />
    </resultMap>

    <sql id="BASE_COLUMN">id, content, coins, user_id, level, status, create_time, update_time, deleted, remark</sql>

    <select id="pageQueryTaskBoardListByStatus" resultType="com.jihai.bitfree.entity.TaskBoardDO">
        SELECT <include refid="BASE_COLUMN"/>
        FROM task_board
        WHERE status = #{status} AND deleted = 0
        ORDER BY
        <if test="status == 0 or status == 1">
            level IS NULL ASC, level ASC,
        </if>
        create_time DESC LIMIT #{start}, #{size}
    </select>
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM task_board
        WHERE deleted = 0
    </select>
    <select id="countByStatus" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM task_board
        WHERE status = #{status} AND deleted = 0
    </select>
    <insert id="insert">
        INSERT INTO task_board(`content`, `coins`, `user_id`, `status`)
        VALUE(#{content}, #{coins}, #{userId}, #{status})
    </insert>
    <update id="updateTime">
        UPDATE task_board SET update_time = NOW()
        WHERE id = #{id} AND deleted = 0
    </update>
    <update id="deleted">
        UPDATE task_board SET deleted = 1, update_time = NOW()
        WHERE id = #{id}
    </update>

    <select id="getTaskByTaskId" resultType="com.jihai.bitfree.entity.TaskBoardDO">
        SELECT <include refid="BASE_COLUMN"/>
        FROM task_board
        WHERE id = #{id} ANd status = #{status}
        AND deleted = 0
    </select>

    <update id="updateTaskBoard">
        UPDATE task_board
        <set>
            <if test="status != null">status = #{status},</if>
            user_id = #{userId},
            update_time = NOW()
        </set>
        WHERE id = #{id} AND deleted = 0
    </update>

    <select id="getTaskByTaskUserId" resultType="com.jihai.bitfree.entity.TaskBoardDO">
        SELECT <include refid="BASE_COLUMN"/>
        FROM task_board
        WHERE user_id = #{userId} ANd status = #{status}
        AND deleted = 0
    </select>
</mapper>